body {
    background-color: rgb(251, 249, 249);
    display: flex;
    flex-direction: column;
    justify-items: auto;
}

.mainHeader {
    flex-wrap: wrap;
    background-color: rgb(251, 249, 249);
    color: #201f1f;
    font-size: 60px;
    margin: 2%;
    letter-spacing: 2px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.dice {
    padding: 2px;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.diceSet {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-self: center;
    
}

.diceContainer {
    float:left;
    width: 14%;
    height: auto;
    padding: 0;
    background-color: white;
    border: none;
    background: none;
    
}

.rollHistory {
    background-color: #F5F6F6;
    color: black;
    margin-top: 30%;
}

.diceResults {
    width: 50%;
    align-self: center;
    margin: 2%;
    background-color: white;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    padding-bottom: 2%;
}

.results {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 20%;
    padding-top: 2%;
    letter-spacing: 2px;
    border: solid 2px black;
    
}

.roll {
    width: 20%;
    margin-bottom: 5%;
    background-color: #F5F6F6;
    color: black;
    text-transform: lowercase;
}

.search-bar {
    flex: 1;
    height: 36px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
    padding-left: 12px;
}

.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
}

.search-button {
    height: 40px;
    width: 66px;
    background-color: rgb (240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
}


.searchBarWrapper {
    width: 50%;
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1%;
    padding: 5%;

}

#spell-card {
    width: 50%;
    align-self: center;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    padding: 25px;
    
}

#spell-title {
    font-size: 30px;
    font-weight: bold;
}

#spell-description {
    height: 250px;
    overflow-y: scroll;
    border: solid 1px rgb(170, 170, 170);
    padding: 15px 15px 15px 25px;
}

/* this #search ID is controlling syles for the search bar input box */
#search {
    flex: 1;
    height: 40px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
    padding-left: 12px;
}

#search::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(152, 152, 152);
}


.searchButton {
    padding: 2%;
    margin-top: 2px;
}


.search-icon {
    height: 25px;
}

#dropDown {
    align-self: center;
}

.button {
    align-self: center;
    border: solid 2px white;
    text-align: center;
    
}


footer {
    width: 100%;
    margin-top: 10%;
    font-size: smaller;
    background-color: #F5F6F6;
    text-align: center;
    padding: 1%;
}
/* gif display */

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border: 3px solid rgb(253, 251, 251);
    box-shadow: 0 0 10px black;
 
  }

  #gif-container {
    position: relative;
    width: 100%;
    height: 100%;}
  
    

    
   
    /*button animation*/

    .diceContainer:hover {
        animation: scale-up 0.5s;
      }
      
      @keyframes scale-up {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.5);
        }
      }

    
    
    